---
import Contactus from "../components/organics/Contactus.astro";
import Layout from "../layouts/Layout.astro";



---

<Layout title="Contact" className="bg-primary">
    <div class="">
        <Contactus> </Contactus>
    </div>
</Layout>