---
import Layout from '../layouts/Layout.astro';
import { digitalizationQuiz } from "../Data/digitalizationQuiz.ts";
import "../styles/global.css";
import SliderComponent from '../components/organics/SliderComponent.astro';
const sliderData = [
  {
    title: "Digitalisation",
    description: "Transformez votre entreprise avec nos solutions de digitalisation sur mesure, améliorant l'efficacité opérationnelle et l'accès à de nouveaux marchés.",
    img: "/DigiBg.jpg",
    altImg: "Illustration de la digitalisation",
    btnTitle: "En savoir plus",
    btnclassName: "bg-accent text-white font-semibold py-2 px-6 rounded-full shadow-lg transform transition hover:scale-105",
    href:"/Solutions/Digitalization"
  },
  {
    title: "Intégration ERP",
    description: "Optimisez vos processus métier avec l'intégration de l'ERP Odoo, centralisant vos opérations pour une gestion efficace et une croissance accélérée.",
    img: "/ERPBG.jpg",
    altImg: "Illustration de l'intégration ERP",
    btnTitle: "Découvrir nos solutions",
    btnclassName: "bg-accent text-white font-semibold py-2 px-6 rounded-full shadow-lg transform transition hover:scale-105",
    href:"/Solutions/ERP"
  },
  {
    title: "Audit SEO",
    description: "Améliorez votre visibilité en ligne grâce à nos audits SEO personnalisés, identifiant les opportunités pour booster votre présence sur le web.",
    img: "/SeoBG.jpg",
    altImg: "Illustration d'un audit SEO",
    btnTitle: "Obtenir un audit gratuit",
    btnclassName: "bg-accent text-white font-semibold py-2 px-6 rounded-full shadow-lg transform transition hover:scale-105",
    href:"/Solutions/AuditSeo"
  }
];

---

<Layout title="Welcome to Astro." className='bg-primary'  quiz={digitalizationQuiz}>

  <SliderComponent slides={sliderData} />
  <div class="bg-accent h-screen">
          
  </div>

    
</Layout>
<script src="/src/scripts/swiper.js"></script>
