---
import { Icon } from 'astro-icon/components';

const { icon, title, description, className = "" } = Astro.props;
---

<div class={`p-6 bg-neutral rounded-lg shadow-md group hover:bg-accent transition-all duration-300 ${className}`}>
  <div class="text-3xl text-accent transition-colors duration-300 group-hover:text-neutral">
    <Icon name={icon} />
  </div>
  <h3 class="text-xl font-semibold text-dark-gray mt-4 transition-colors duration-300 group-hover:text-neutral">
    {title}
  </h3>
  <p class="text-gray-600 mt-2 transition-colors duration-300 group-hover:text-neutral">
    {description}
  </p>
</div>
